$cl-info-500: #1490FF;
$cl-primary-500: #FF8A00;
$cl-primary-700: mix($cl-primary-500, black, 85);
$cl-success-500: #1EB924;

$sz-spacing-xs: 4px;
$sz-spacing-sm: 8px;
$sz-spacing:    16px;
$sz-spacing-lg: 24px;
$sz-spacing-xl: 32px;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


*{
    transition: all 0.3s ease-in;
    font-family: 'Ubuntu';
}

h1, h2, h3, p, button, a{
    margin: 0;
    padding: 0;
}


h1{
    display: none;
  }
  
body{
margin: 0;
padding: 0;
overflow-x: hidden;
}

h2{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 92px;
color: rgba(51, 51, 51, 0.25);
    &::after{
        content: '.';
    }
}


h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}

p, a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #666666;
}

a{
    font-size: 18px;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}


.btn-cta{
    background-color: $cl-primary-500;
    padding: $sz-spacing 64px;
    font-size: 22px;
    text-decoration: none;
    //margin-top: $sz-spacing-xl;
    color: #fff;
    border-radius: 100px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
    &:hover{
        background-color: $cl-primary-700;
    }
}

.logo-horizontal{
    max-width: 700px;
    width: 100%;
    height: 200px;
    display: block;


  
    // background-image: url("../img/logo-horizontal-colored.svg");
    background-image: url("../img/logo-horizontal.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    background-origin: content-box;
  
    padding: 32px;
    position: relative;
  }


  header{
    background: linear-gradient(0deg, rgba(#242F35, 0.8) 0%, #242F35 100%);
    height: 100vh;
    @media (max-width: 1200px) {
        height: 500px;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
    position: relative;
    padding: 32px;
    .content{
        max-width: 700px;
        width: 100%;
        padding-top: 100px;
        gap: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;


        @media (max-width: 1200px) {
            gap: 0px;
        }
        
    }
    .logo-horizontal{
        @media (max-width: 1200px) {
            //margin-top: 0;
            //margin: 32px;
        }
    }
    h2{
        color: rgba(#fff, 0.7);
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400;

        font-style: italic;
        &::after{
            content: none;
        }
        @media (max-width: 1200px) {
            display: none;
        }
    }
    
    &:after{
        content: '';
        background-image: url("../img/headermask.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        height: 460px;
        width: 1920px;
        position: absolute;
        bottom: 0;
        @media (max-width: 1200px) {
            display: none;
        }
    }
    &.closer{
        justify-content: center;
        &:after{
            content: none;
        }
    }
  }



content{
    padding: 128px 0;
    display: block;
}

content + content{
    background-color: #f9f9f9;
}

.gutter-xl{
    margin-left: auto;
    margin-right: auto;
    padding: 0 64px;
    max-width: 1200px;
    
    &.isLeft{
        display: flex;
    }
    &.isRight{
        display: flex;
        flex-direction: row-reverse;
        @media (max-width: 1200px) {
            flex-direction: row;
        }
    }
    &.isFirst{
        margin-top: -350px;
        position: relative;
        @media (max-width: 1200px) {
            margin-top: 0;
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 96px;
    }
    .images{
        
    }
}



article{
    display: grid;
    gap: 64px;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 1fr;

    .icn-wrap{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .content{
        grid-row: 2/ 3;
        grid-column: 1 / 2;
    }
}

@media (min-width: 1200px) {
    article{
        display: grid;
        gap: 64px;
        grid-template-columns: 96px 557px;
        grid-template-rows: 1fr;
    
        .icn-wrap{
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        .content{
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }
    }
}

footer{
    background: linear-gradient(0deg, rgba(#242F35, 1) 0%, #242F35 100%);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
        color: rgba(#fff, .75)
    }
    h3{
        color: rgba(#fff, .95)
    }
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    .col-3{
        grid-column:  span 3;
        @media (max-width: 1200px) {
            grid-column:  span 12;
        }
    }
}

////////// images

.img-ui{
    box-shadow: 0 10px 15px 0 rgba(#000, .25);
    border-radius: 26px;
    position: absolute;
}

.isLeft .img-ui-composition{
    position: relative;
    //top: 120px;
    margin-left: 100px;
     img:nth-child(1){
        //display: none;
    }
    img:nth-child(2){
        //display: none;
        margin-top: 157px;
        margin-left: 224px;
    }
    img:nth-child(3){
        margin-top: 410px;
        margin-left: 125px;
    }

    @media (max-width: 1200px) {
        display: none;
    }
}

.isRight .img-ui-composition{
    position: relative;
    //top: 120px;
    margin-right: 600px;
     img:nth-child(1){
        //display: none;
    }
    img:nth-child(2){
        //display: none;
        margin-top: 157px;
        margin-left: 224px;
    }
    img:nth-child(3){
        margin-top: 410px;
        margin-left: 125px;
    }

    @media (max-width: 1200px) {
        
        display: none;
    }
}

.animation {
    transition: all 0.8s;
    &.unloaded{
        opacity: 0;
        transform: translateY(40px);
    }
    &.fromright{
        transform: translateX(200px);
    }
    &.inview {
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
      }
  }



  // icn wrap colors
  .icn-wrap{
    width: 96px;
    height: 96px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 40px;
        color: white;
    }
}

.context-fleetmanagement .icn-wrap{
    background-color: $cl-info-500;
}

.context-audit .icn-wrap{
    background-color: $cl-primary-500;
}

.context-client .icn-wrap{
    background-color: $cl-success-500;
}



.col-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gap{
    gap: $sz-spacing-xs;
}