@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  transition: all 0.3s ease-in;
  font-family: "Ubuntu";
}

h1, h2, h3, p, button, a {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  color: rgba(51, 51, 51, 0.25);
}
h2::after {
  content: ".";
}

h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #333333;
}

p, a, span {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #666666;
}

a {
  font-size: 18px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.label {
  font-weight: 600;
}

.btn-cta {
  background-color: #FF8A00;
  padding: 16px 64px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: none;
  border: none;
  outline: none;
  z-index: 80;
}
.btn-cta:hover {
  background-color: #d97500;
}
@media (max-width: 1200px) {
  .btn-cta {
    font-size: 20px;
    padding: 16px 32px;
  }
}

.logo-horizontal {
  max-width: 700px;
  width: 100%;
  height: 200px;
  display: block;
  background-image: url("../img/logo-horizontal.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-origin: content-box;
  padding: 32px;
  position: relative;
}

header {
  background: linear-gradient(0deg, rgba(36, 47, 53, 0.8) 0%, #242F35 100%);
  height: 100vh;
  min-height: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
  position: relative;
  padding: 32px;
}
@media (max-width: 1200px) {
  header {
    height: 500px;
    min-height: 500px;
    background: linear-gradient(0deg, rgba(36, 47, 53, 0.95) 0%, #242F35 100%);
  }
}
header .content {
  max-width: 700px;
  width: 100%;
  padding-top: 100px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  header .content {
    gap: 0px;
  }
}
header h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
}
header h2::after {
  content: none;
}
@media (max-width: 1200px) {
  header h2 {
    display: none;
  }
}
header:after {
  content: "";
  background-image: url("../img/headermask.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 460px;
  width: 1920px;
  position: absolute;
  bottom: 0;
}
@media (max-width: 1200px) {
  header:after {
    display: none;
  }
}
header.closer {
  justify-content: center;
}
header.closer:after {
  content: none;
}

content {
  padding: 128px 0;
  display: block;
}

content + content {
  background-color: #f9f9f9;
}

.gutter-xl {
  margin-left: auto;
  margin-right: auto;
  padding: 0 64px;
  max-width: 1200px;
}
.gutter-xl.isLeft {
  display: flex;
}
.gutter-xl.isRight {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 1200px) {
  .gutter-xl.isRight {
    flex-direction: row;
  }
}
.gutter-xl.isFirst {
  margin-top: -350px;
  position: relative;
}
@media (max-width: 1200px) {
  .gutter-xl.isFirst {
    margin-top: 0;
  }
}
.gutter-xl .text {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
article {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 1fr;
}
article .icn-wrap {
  grid-row: 1/2;
  grid-column: 1/2;
}
article .content {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media (min-width: 1200px) {
  article {
    display: grid;
    gap: 64px;
    grid-template-columns: 96px 557px;
    grid-template-rows: 1fr;
  }
  article .icn-wrap {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  article .content {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
article.context-award {
  display: grid;
  gap: 24px;
  grid-template-columns: 557px;
  grid-template-rows: 160px 1fr;
}
article.context-award .icn-wrap {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
}
article.context-award .content {
  grid-row: 2/3;
  grid-column: 1/2;
}

footer {
  background: linear-gradient(0deg, #242f35 0%, #242F35 100%);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer * {
  color: rgba(255, 255, 255, 0.75);
}
footer h3 {
  color: rgba(255, 255, 255, 0.95);
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.row .col-3 {
  grid-column: span 3;
}
@media (max-width: 1200px) {
  .row .col-3 {
    grid-column: span 12;
  }
}

.img-ui {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  position: absolute;
}

.isLeft .img-ui-composition {
  position: relative;
  margin-left: 100px;
}
.isLeft .img-ui-composition img:nth-child(2) {
  margin-top: 157px;
  margin-left: 224px;
}
.isLeft .img-ui-composition img:nth-child(3) {
  margin-top: 410px;
  margin-left: 125px;
}
@media (max-width: 1200px) {
  .isLeft .img-ui-composition {
    display: none;
  }
}

.isRight .img-ui-composition {
  position: relative;
  margin-right: 600px;
}
.isRight .img-ui-composition img:nth-child(2) {
  margin-top: 157px;
  margin-left: 224px;
}
.isRight .img-ui-composition img:nth-child(3) {
  margin-top: 410px;
  margin-left: 125px;
}
@media (max-width: 1200px) {
  .isRight .img-ui-composition {
    display: none;
  }
}

.animation {
  transition: all 0.8s;
}
.animation.unloaded {
  opacity: 0;
  transform: translateY(40px);
}
.animation.fromright {
  transform: translateX(200px);
}
.animation.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.icn-wrap {
  width: 96px;
  height: 96px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icn-wrap i {
  font-size: 40px;
  color: white;
}

.context-fleetmanagement .icn-wrap {
  background-color: #1490FF;
}

.context-audit .icn-wrap {
  background-color: #FF8A00;
}

.context-client .icn-wrap {
  background-color: #1EB924;
}

.col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gap {
  gap: 4px;
}

nav {
  position: absolute;
  top: 0;
  z-index: 80;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav .login {
  color: white;
  padding: 10px 24px;
}

.awards-wrap {
  background-color: #fff;
}
.awards-wrap .icn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.awards-wrap .img-wrap {
  border-radius: 240px;
  height: 160px;
  width: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #FFC555, #DB8E34);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin-left: -80px;
  z-index: 1;
}
.awards-wrap .img-wrap::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 136px;
  height: 136px;
  border-radius: 240px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.awards-wrap .img-wrap:first-child {
  margin-left: 0;
}
.awards-wrap .img-wrap img {
  z-index: 2;
  width: 90px;
  height: 90px;
}

.awards-wrap h2 {
  margin-bottom: 64px;
}
.awards-wrap .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.awards-wrap .grid {
  display: grid;
  gap: 18px;
  grid-template-columns: 133px 1fr;
  grid-template-rows: 1fr;
}
.awards-wrap .grid span {
  display: block;
  font-size: 20px;
  line-height: 24px;
}
.awards-wrap a {
  color: #1490FF;
}

.image-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 64px 400px;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.image-wrap img {
  width: 200px;
}/*# sourceMappingURL=styles.css.map */